@keyframes ldio-881arq9zvo {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-881arq9zvo div { box-sizing: border-box!important }
.ldio-881arq9zvo > div {
    position: absolute;
    width: 97.96px;
    height: 97.96px;
    top: 13.02px;
    left: 13.02px;
    border-radius: 50%;
    border: 3.7199999999999998px solid #000;
    border-color: #8b79e3 transparent #8b79e3 transparent;
    animation: ldio-881arq9zvo 3.846153846153846s linear infinite;
}

.ldio-881arq9zvo > div:nth-child(2), .ldio-881arq9zvo > div:nth-child(4) {
    width: 88.04px;
    height: 88.04px;
    top: 17.98px;
    left: 17.98px;
    animation: ldio-881arq9zvo 3.846153846153846s linear infinite reverse;
}
.ldio-881arq9zvo > div:nth-child(2) {
    border-color: transparent #3455bf transparent #3455bf
}
.ldio-881arq9zvo > div:nth-child(3) { border-color: transparent }
.ldio-881arq9zvo > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-881arq9zvo > div:nth-child(3) div:before, .ldio-881arq9zvo > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 3.7199999999999998px;
    height: 3.7199999999999998px;
    top: -3.7199999999999998px;
    left: 43.4px;
    background: #8b79e3;
    border-radius: 50%;
    box-shadow: 0 94.24px 0 0 #8b79e3;
}
.ldio-881arq9zvo > div:nth-child(3) div:after {
    left: -3.7199999999999998px;
    top: 43.4px;
    box-shadow: 94.24px 0 0 0 #8b79e3;
}

.ldio-881arq9zvo > div:nth-child(4) { border-color: transparent; }
.ldio-881arq9zvo > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-881arq9zvo > div:nth-child(4) div:before, .ldio-881arq9zvo > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 3.7199999999999998px;
    height: 3.7199999999999998px;
    top: -3.7199999999999998px;
    left: 38.44px;
    background: #3455bf;
    border-radius: 50%;
    box-shadow: 0 84.32px 0 0 #3455bf;
}
.ldio-881arq9zvo > div:nth-child(4) div:after {
    left: -3.7199999999999998px;
    top: 38.44px;
    box-shadow: 84.32px 0 0 0 #3455bf;
}
.loadingio-spinner-double-ring-4052agrp3sb {
    width: 124px;
    height: 124px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-881arq9zvo {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-881arq9zvo div { box-sizing: content-box; }